<div class="container">
        <div class="d-flex align-items-center justify-content-center flex-column" style="height: 100vh;">
            <h1 style="font-size: 2rem;color: #529552;text-align: center;line-height: 1.25;padding: 10px 163px;">The verification mail sent to you please goto your mail and access the link provided to set password.<br>Thank You!!</h1>
            <div class="text-center">
                <button class="btn login p-3" routerLink="/auth/login">Back to Login Page</button>
            </div>
        </div>
      
       
</div>
