<div class="content-para">
  <div class="content-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 text-light">
          <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-7">
              <img src="../../assets/images/laptop.png" width="100%">
            </div>
            <div class="col-sm-6 col-md-6 col-lg-5">
              <div class="float-left mr-4">
                <div class="starimg">
                  <img src="../../assets/images/star.png">
                </div>
                <div class="background-content">
                  <h1 class="laptop">A workplace <br>sign in <br> system for -</h1>
                  <h1 class="mobile">A workplace sign in system for -</h1>
                  <ul class="list1">
                    <div class="aboutUsList d-flex align-items-center">
                      <div class="dot position-relative">
                        <i class="fa fa-long-arrow-right animate" aria-hidden="true"></i>
                      </div>
                      <div class="ml-3 list-content">
                        Visitor Management
                      </div>
                    </div>

                    <div class="aboutUsList d-flex align-items-center">
                      <div class="dot position-relative">
                        <i class="fa fa-long-arrow-right animate" aria-hidden="true"></i>
                      </div>
                      <div class="ml-3 list-content">
                        Employee check in
                      </div>
                    </div>

                    <div class="aboutUsList d-flex align-items-center">
                      <div class="dot position-relative">
                        <i class="fa fa-long-arrow-right animate" aria-hidden="true"></i>
                      </div>
                      <div class="ml-3 list-content">
                        Desk Booking
                      </div>
                    </div>
                  </ul>
                  <!-- <div class=" position-relative dot" >
                        <i class="fa fa-long-arrow-right animate"
                       aria-hidden="true"></i>
                      </div> -->
                  <!-- <div class=" position-relative dot" >
                        <i class="fa fa-long-arrow-right"
                        style="position: absolute;;" aria-hidden="true"></i>
                      </div> -->
                  <!-- <button class="btn btn-dark">Start Free Trial</button> -->
                  <a href="https://secure.breazie.com/auth/register" target="blank">
                    <div class="startFreeTrial">
                      <button class="btn btn-dark">Start Free trial</button>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-2">
    <div class="container-fluid">
      <div class="laptop">
        <div class="row">
          <div class="col-md-6 ">
            <img src="../../assets/images/image2.png">
          </div>
          <div class="col-md-6 ">
            <div class="content2-1">
              <strong style="font-size: 1.2rem;letter-spacing: 6px;">FEATURES</strong>
              <h1 style="color:#BD8E74 ; font-size: 50px;margin-top: 10px;line-height: 1.2;">Modify and digitize
                your workplace</h1>
              <p style="font-weight:500;font-size: 1.2rem;line-height: 1.6;">Build a digital environment for your
                employees by creating automated sign
                in,
                visitor management and desk booking</p>
              <ul class="list2">
                <li>Employee smartphone app accessible on both ios and android
                </li>
                <li>Visitor and employee sign in using QR</li>
                <li>ID badge printing</li>
                <li>Instant notifications</li>
                <li>Digital Agreement </li>
                <li>Evacuation management </li>
              </ul>
            </div>


          </div>
        </div>
        <div class="container-fluid">
          <div class="border"></div>
        </div>
      </div>
      <div class="mobile">
        <div class="row">
          <div class="col-md-6">
            <img src="../../assets/images/image2.png">
          </div>
          <div class="col-md-6 ">
            <div class="content2-1">
              <strong style="font-size: 1.2rem;letter-spacing: 6px;">Features</strong>
              <h1 style="color:#BD8E74 ; font-size: 50px;margin-top: 10px;line-height: 1.2;">Modify and digitize
                your workplace</h1>
            </div>
          </div>
        </div>
        <div class="build-content">
          <p style="font-weight:500;font-size: 1.2rem;line-height: 1.6;">Build a digital environment for your employees
            by creating automated sign in,
            visitor management and desk booking</p>
          <ul class="list2">
            <li>Employee smartphone app accessible on both ios and android
            </li>
            <li>Visitor and employee sign in using QR</li>
            <li>ID badge printing</li>
            <li>Instant notifications</li>
            <li>Digital Agreement </li>
            <li>Evacuation management </li>
          </ul>
        </div>
        <div>
          <div class="border"></div>
        </div>
      </div>

      <div class="content2-2 pt-5">
        <div class="row ">
          <div class="col-md-9">
            <div class="content2-heading">
              <h1>Maintaining <span>Safe</span> and <span>Healthy</span> workplace</h1>
            </div>
          </div>
        </div>

        <div class="workplaceImage">
          <img src="../../assets/images/image5.png" width="100%">
        </div>

      </div>
      <div class="content3-1 pt-5 mb-5">
        <div class="container laptop">
          <div class="row">
            <div class="col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
              <div class="card ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-3">
                    <span>
                      <img src="../../assets/images/zerocontact.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Zero Contact Sign in</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The visitors do not have to touch the tab in order to feed their details. All they have to do
                    is open their phone’s camera, scan the QR and there you go. Just feed your details</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
              <div class="card ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-3">
                    <span>
                      <img src="../../assets/images/employeedata.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Employee data management</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The employees can just use the tablet as an in and out board or can download the app in order
                    to mark their presence in the office premises.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
              <div class="card ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-3">
                    <span>
                      <img src="../../assets/images/screeningvisitor.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Screening Visitor and Employee</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The visitors will be asked to fill a few questions on the app, which will give us data about
                    their current health condition. This will help the organization to protect the workplace from
                    any infectious diseases.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-4 offset-lg-1 col-xl-3 offset-xl-2">
              <div class="card ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-3">
                    <span>
                      <img src="../../assets/images/digital.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Digital Agreement</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>Breazie helps the visitors to feed in their information that is required by the organization.
                    This also helps the organization to create a database of people without any paperwork involved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container mobile">
          <div class="row cardRow">
            <div class="col-sm-7 offset-sm-2 col-md-5 offset-md-2">
              <div class="card ">
                <div class="row">
                  <div class="col-3 col-sm-2 col-md-2">
                    <span>
                      <img src="../../assets/images/zerocontact.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Zero Contact Sign in</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The visitors do not have to touch the tab in order to feed their details. All they have to do
                    is open their phone’s camera, scan the QR and there you go. Just feed your details</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7 offset-sm-4 col-md-5 offset-md-5 employeeData">
              <div class="card">
                <div class="row">
                  <div class="col-3 col-sm-2 col-md-2">
                    <span>
                      <img src="../../assets/images/employeedata.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Employee data management</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The employees can just use the tablet as an in and out board or can download the app in order
                    to mark their presence in the office premises.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7 offset-sm-2 col-sm-6 col-md-5 offset-md-2 screeningVisitors">
              <div class="card ">
                <div class="row">
                  <div class="col-3 col-sm-2 col-md-2">
                    <span>
                      <img src="../../assets/images/screeningvisitor.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Screening Visitor and Employee</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>The visitors will be asked to fill a few questions on the app, which will give us data about
                    their current health condition. This will help the organization to protect the workplace from
                    any infectious diseases.</p>
                </div>
              </div>
            </div>
            <div class="col-sm-7 offset-sm-4 col-md-5 offset-md-5 digitalAgreement">
              <div class="card ">
                <div class="row">
                  <div class="col-2 col-sm-2 col-md-2">
                    <span>
                      <img src="../../assets/images/digital.png">
                    </span>
                  </div>
                  <div class="col-9 col-sm-9 col-md-9">
                    <strong>Digital Agreement</strong>
                  </div>
                </div>
                <div class="card-body">
                  <p>Breazie helps the visitors to feed in their information that is required by the organization.
                    This also helps the organization to create a database of people without any paperwork involved.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
