<div class="spinner" *ngIf="spinner">
    <mat-spinner diameter="100"></mat-spinner>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="password">
                <div class="card d-flex align-items-center">
                    <div class="header">
                        <h2>Set Password</h2>
                    </div>
                    <form [formGroup]="passwordForm" (ngSubmit)="setPassword()">
                        <div class="form-group">
                            <mat-form-field appearance="outline">
                                <input matInput type="text" formControlName="password" placeholder="Enter password">
                            </mat-form-field>
                            <p *ngIf="( passwordForm.controls.password.touched) && passwordForm.controls.password.errors?.required" class="text-danger">
                                Password is required.
                            </p>
                            <p *ngIf="passwordForm.get('password').touched && (passwordForm.get('password').errors?.pattern || passwordForm.get('password').errors?.minlength)" class="text-danger">Password should be 8-30 characters</p>

                            <div>
                                <p>Your password must:</p>
                                <ul>
                                    <li>Be at least 8 characters long</li>
                                    <li>Include at least one number,upper case,special characters and lower case letters</li>
                                </ul>
                            </div>
                        </div>
                        <div class="buttons text-center">
                            <button type="submit" mat-raised-button [disabled]="passwordForm.invalid">SET PASSWORD</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>