<div class="spinner" *ngIf="spinner">
  <mat-spinner diameter="100"></mat-spinner>
</div>
<div class="container-fluid">
  <div class="card mt-4">
    <mat-card class="visitorcard">
      <div class="d-flex align-items-center justify-content-between">
        <div class="visitorheading">
          <div class="mr-auto d-inline-block">
            <h1 class="mb-0" style="font-weight: 500;">Guest</h1>
          </div>
        </div>
      </div>
      <hr>
      <div class="tabs mt-3">

        <ul class="nav nav-pills ml-4 mb-2" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <a class="nav-link active" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
              aria-controls="pills-home" aria-selected="true" (click)="guest()">Guest
              [{{TotalVisitor}}]</a>
          </li>
          <li *ngIf="TotalPendingVisitor > 0" class="nav-item" role="presentation">
            <a class="nav-link" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
              aria-controls="pills-profile" aria-selected="false" (click)="pending()">Pending
              [{{TotalPendingVisitor}}]</a>
          </li>
          <li *ngIf="TotalRememberedVisitor > 0" class="nav-item" role="presentation">
            <a class="nav-link" id="pills-contact-tab" data-toggle="pill" href="#pills-contact" role="tab"
              aria-controls="pills-contact" aria-selected="false" (click)="remember()">Remember
              [{{TotalRememberedVisitor}}]</a>
          </li>
        </ul>
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <div *ngIf="guests">

            <div class="row">
              <div class="col-md-6 col-lg-3">
                <div class="search ml-4">
                  <mat-form-field class="search-form-field">
                    <mat-icon class="sticky-top"
                      style="position: 'absolute';z-index: 0;right: 0;top: 0px; width: 20; height: 20">
                      search
                    </mat-icon>
                    <input matInput name="fullName" placeholder="Search Guest" (keyup)="applyFilter($event)">
                  </mat-form-field>
                </div>
              </div>

              <div class="col-md-12 col-lg-9">
                <div class="actionButtons float-right">
                  <div style="display: inline-block;">
                    <button class="btn export" (click)="openSignOutVisitorModel()"
                      [class.selectButton]="signOutDisableSelected" [disabled]="disabledbuttonsignOut">
                      <span *ngIf="!signOutSelected">Sign Out All</span>
                      <span *ngIf="signOutSelected">Sign Out Selected </span></button>
                  </div>
                  <div style="display: inline-block;">
                    <button class="btn archive ml-2" (click)="openAnonymize()"
                      [class.selectButton]="anonymizeDisableSelected" [disabled]="disabledAnonymizebutton"><span
                        *ngIf="!anonymizeSelected">Anonymize All</span>
                      <span *ngIf="anonymizeSelected">Anonymize Selected</span></button>
                  </div>
                  <div style="display: inline-block;">
                    <button class="btn export ml-2" [class.selectButton]="archiveSelected" [disabled]="disabledbutton"
                      (click)="convertexel()"><span *ngIf="!exportSelected">Export All</span>
                      <span *ngIf="exportSelected">Export Selected</span>
                    </button>
                  </div>
                  <div style="display: inline-block;">
                    <button class="btn" (click)="openDialog()" id="newvisitor">
                      <div class="d-flex align-items-center">
                        <div class="icon">
                          <mat-icon>add</mat-icon>
                        </div>
                        <div>
                          <p style="margin-bottom: 0px;">New Guest</p>
                        </div>
                      </div>
                    </button>
                  </div>
                </div>
              </div>
            </div>

            <div class="cardsearch">
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="selectAllDropDown" appearance="outline">
                    <mat-label style="font-weight: 500;">Status </mat-label>
                    <mat-select (selectionChange)="onChangeSelect($event)" [(ngModel)]="state">
                      <mat-option value="all">All</mat-option>
                      <mat-option value="siginedin" (click)="signin()">Signed In</mat-option>
                      <mat-option value="signedout">Signed Out</mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-form-field class="durationDropDown" appearance="outline">
                    <mat-label style="font-weight: 500;">Duration </mat-label>
                    <mat-select (selectionChange)="onChangeDuration($event)" [(ngModel)]="duration">
                      <mat-option value="all">All</mat-option>
                      <mat-option value="visitors1">Today</mat-option>
                      <mat-option value="visitors2">Last 7 Days</mat-option>
                      <mat-option value="visitors3">Last 30 Days</mat-option>
                      <mat-option value="visitors4">Over 30 Days</mat-option>
                      <mat-option value="visitors5">

                        <mat-form-field appearance="fill">
                          <!-- <mat-label panelClass="date">Custom</mat-label> -->
                          <mat-date-range-input [rangePicker]="picker" [max]="today1">
                            <input #startDate matStartDate placeholder="Start date"
                              (dateInput)="OnDateStartChange($event.value)">
                            <input #endDate matEndDate placeholder="End date"
                              (dateChange)="dateRangeChange(startDate, endDate)"
                              (dateInput)="OnDatEndChange($event.value)">
                          </mat-date-range-input>
                          <mat-datepicker-toggle matSuffix [for]="picker">
                          </mat-datepicker-toggle>
                          <mat-date-range-picker #picker></mat-date-range-picker>
                        </mat-form-field>
                        {{changeDate(endDate.value)}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <!-- <mat-form-field class="categoriesDropDown" appearance="outline">
                    <mat-label style="font-weight: 500;">Categories </mat-label>
                    <mat-select (selectionChange)="onChangeCategories($event)">
                      <mat-option value="all">All</mat-option>
                      <mat-option value="role">Guest</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                </div>
                <div class="col-md-1"></div>

              </div>
            </div>

            <div class="example-container mat-elevation-z8">
              <div class="example-table-container">
                <!-- <table mat-table [dataSource]="dataSource" class="mat-elevation-z1" id="excel-table" matSort> -->
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z1 " id="excel-table"
                  #visitorSort="matSort" matSort>
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()"
                        (change)="getCheckboxValuesAll($event,dataSource.filteredData)">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row" style="width: 10%;">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)"
                        (change)="checkboxValuesRow($event,row)" [disabled]="row.isAnonymized">
                      </mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="image" class="image">
                    <th mat-header-cell *matHeaderCellDef style="width:4%"> </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element">
                      <img [src]=element.VisitorImage onerror="this.src='../../assets/images/user.png'"
                        class="addImage rounded-circle">
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="FullName" class="visitor">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width: 15%;padding-right:15px"
                      mat-sort-header> Guest </th>
                    <td [class.isAnonymisedss]="element.isAnonymized" mat-cell *matCellDef="let element"
                      style="width: 15%;padding-right:15px" class="fullname" (click)="Dialog(element)">

                      <b>{{element.FullName | titlecase }} </b> <br>
                      <p>{{element.CompanyName}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Host">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width:8%;padding-right:15px">
                      Host </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element"
                      style="width: 10%;padding-right:15px">
                      {{element.HostName | titlecase }} </td>
                  </ng-container>

                  <ng-container matColumnDef="Visit">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width:20%;padding-right:15px"
                      mat-sort-header> Visit </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element"
                      style="color: black;width:20%;padding-right:15px">
                      <span> <span class="dotGreen"></span> {{element.loginTime | date:'MMM d, h:mm a' }}
                      </span> <br>
                      <div *ngIf="element.logoutTime">
                        <span><span class="dotred"></span> {{element.logoutTime | date:'MMM d, h:mm a' }}
                        </span>
                      </div>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Location">
                    <th mat-header-cell *matHeaderCellDef style="color: black; width: 10%;padding-right:15px"> Location
                    </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element"
                      style="color: black;width:15%;padding-right:15px">
                      <i class="fa fa-map-marker-alt" style="color: #0065D9;"></i>
                      <b> &nbsp; {{element.location }}</b>
                      <br>
                      <i class="fa fa-clock" style="color: #0065D9;" aria-hidden="true"></i>&nbsp; IST (+05:30)
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="CustomField">
                    <th mat-header-cell *matHeaderCellDef style="color: black; width: 22%;padding-right:15px"> Custom
                      Field </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element"
                      style="color: black;width:15%;padding-right:15px">
                      <ng-container *ngFor="let customField of element['custom_field']">
                        <div>{{customField?.label+ ' :- ' +customField?.value}}</div>
                      </ng-container>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="SignOut">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"> </th>
                    <td [class.isAnonymised]="element.isAnonymized" mat-cell *matCellDef="let element;let row">
                      <button mat-stroked-button color="primary" (click)="openSignOutVisitor(row)" class="signOutBtn"
                        *ngIf="!element.logoutTime"> Sign Out
                      </button>
                      <span *ngIf="element.logoutTime" class="closed">
                        <span *ngIf="!element.reject">
                          closed
                        </span>
                        <span *ngIf="element.reject">
                          Rejected
                        </span>
                      </span>
                    </td>

                  </ng-container>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">
                      No data found
                    </td>
                  </tr>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (clicK)="onGetId(row.id)">
                  </tr>
                </table>
              </div>
            </div>
            <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[2, 5,10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <div class="spinner" *ngIf="spinner">
            <mat-spinner diameter="100"></mat-spinner>
          </div>
          <div *ngIf="pendings">
            <div class="row">
              <div class="col-md-3">
                <div class="search ml-4">
                  <mat-form-field class="search-form-field">
                    <mat-icon class="sticky-top"
                      style="position: 'absolute';z-index: 0;right: 0;top: 0px; width: 20; height: 20">
                      search
                    </mat-icon>
                    <input matInput name="fullName" placeholder="Search Guest" (keyup)="applyFilterPending($event)">
                  </mat-form-field>
                </div>
              </div>
            </div>
            <div class="example-container mat-elevation-z8">
              <div class="example-table-container">
                <table mat-table [dataSource]="pendingDataSource" class="mat-elevation-z8 " #pendingSort="matSort"
                  matSort id="excel-table-pending">
                  <ng-container matColumnDef="SlNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 10%;color: black;">
                      SlNo
                    </th>
                    <td mat-cell *matCellDef="let element;index as i"> {{i+1}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="image">
                    <th mat-header-cell *matHeaderCellDef style="width:4%;padding-right:15px"> </th>
                    <td mat-cell *matCellDef="let element" style="width:4%;padding-right:15px">
                      <img [src]=element.VisitorImage onerror="this.src='../../assets/images/user.png'"
                        class="addImage rounded-circle">
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="FullName" class="visitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header
                      style="color: black;width:20%;padding-right:15px"> Guest
                    </th>
                    <td mat-cell *matCellDef="let element" class="fullname" (click)="Dialog(element)"
                      style="color: black;width:15%;padding-right:15px">
                      {{element.FullName | titlecase }} <br> {{element.CompanyName}}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Visit">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width:20%;padding-right:15px">
                      Visit </th>
                    <td mat-cell *matCellDef="let element" style="width:20%;padding-right:15px">
                      <span> <span class="dotGreen"></span> {{element.loginTime | date:'MMM d, h:mm a' }}
                      </span> <br>
                      <span *ngIf="element.logoutTime"><span class="dotred"></span> {{element.logoutTime | date:'MMM d,
                        h:mm a' }}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Location">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width:20%;padding-right:15px">
                      Location </th>
                    <td mat-cell *matCellDef="let element" style="width:20%;padding-right:15px">
                      <i class="fa fa-map-marker-alt" style="color: #0065D9;"></i>
                      <b> &nbsp; {{element.location }}</b>
                      <br>
                      <i class="fa fa-clock" style="color: #0065D9;" aria-hidden="true"></i>&nbsp; IST (+05:30)
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="CustomField">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width:20%;padding-right:15px">
                      Custom Field </th>
                    <td mat-cell *matCellDef="let element" style="width:20%;padding-right:15px">
                      {{element.CustomField }} </td>
                  </ng-container>

                  <ng-container matColumnDef="accept">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"></th>
                    <td mat-cell *matCellDef="let element;let row" style="width: 20%;">
                      <button mat-stroked-button color="primary" style="border-color:#1561CF  ;" class="acceptBtn"
                        (click)="openApproveDialog(element)"> Approve
                      </button>
                      <button mat-stroked-button color="primary" style="border-color:#1561CF ;" class="rejectBtn ml-2"
                        (click)="openRejectDialog(element)"> Reject
                      </button>
                      <!-- <span *ngIf="element.logoutTime" class="closed">closed</span> -->
                    </td>

                  </ng-container>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">
                      No data found
                    </td>
                  </tr>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns2;" (clicK)="onGetId(row.id)">
                  </tr>
                </table>
              </div>
            </div>
            <mat-paginator #paginatorPending [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 25, 100]">
            </mat-paginator>
          </div>

        </div>

        <div class="tab-pane fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">
          <div class="spinner" *ngIf="spinner">
            <mat-spinner diameter="100"></mat-spinner>
          </div>


          <div *ngIf="remembers">
            <div class="col-md-3">
              <div class="search ml-2">
                <mat-form-field class="search-form-field">
                  <mat-icon class="sticky-top"
                    style="position: 'absolute';z-index: 0;right: 0;top: 0px; width: 20; height: 20">
                    search
                  </mat-icon>
                  <input matInput name="fullName" placeholder="Search Guest" (keyup)="applyFilterRember($event)">
                </mat-form-field>
              </div>
            </div>
            <div class="example-container mat-elevation-z8">
              <div class="example-table-container">
                <table mat-table [dataSource]="rememberedDataSource" class="mat-elevation-z8 " #rememberSort="matSort"
                  matSort>

                  <!-- <ng-container matColumnDef="image" class="image">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let element" style="width: 10%;float: right;">

                </td>
              </ng-container> -->

                  <ng-container matColumnDef="FullName" class="visitor">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header style="color: black;">
                      Guest </th>
                    <td mat-cell *matCellDef="let element" style="width: 20%;" class="fullname"
                      (click)="Dialog(element)">
                      {{element.FullName | titlecase }} <br>
                      <p>{{element.CompanyName}}</p>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Host">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"> Host </th>
                    <td mat-cell *matCellDef="let element" style="width: 20%;"> {{element.HostName | titlecase }} </td>
                  </ng-container>

                  <ng-container matColumnDef="Visit">
                    <th mat-header-cell *matHeaderCellDef style="color: black;width: 20%;"> Last Activity
                    </th>
                    <td mat-cell *matCellDef="let element">
                      <span *ngIf="element.lastActivity.recent == 'login'">
                        <span class="dotGreen"></span> {{element.lastActivity.time | date:'MMM d, h:mm a' }}
                      </span>
                      <span *ngIf="element.lastActivity.recent == 'logout'"><span class="dotred"></span>
                        {{element.lastActivity.time | date:'MMM d, h:mm a' }}
                      </span>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="Location">
                    <th mat-header-cell *matHeaderCellDef style="color: black; width: 20%;"> Location </th>
                    <td mat-cell *matCellDef="let element">
                      <i class="fa fa-map-marker-alt" style="color: #0065D9;"></i>
                      <b> &nbsp; {{element.location }}</b>
                      <br>
                      <i class="fa fa-clock" style="color: #0065D9;" aria-hidden="true"></i>&nbsp; IST (+05:30)
                    </td>
                  </ng-container>


                  <ng-container matColumnDef="CustomField">
                    <th mat-header-cell *matHeaderCellDef style="color: black; width: 20%;"> Custom Field
                    </th>
                    <td mat-cell *matCellDef="let element"> {{element.CustomField }} </td>
                  </ng-container>

                  <ng-container matColumnDef="SignOut">
                    <th mat-header-cell *matHeaderCellDef style="color: black;"> </th>
                    <td mat-cell *matCellDef="let element;let row">
                      <button mat-stroked-button color="primary" (click)="openSignOutVisitor(row)" class="signOutBtn"
                        *ngIf="element.lastActivity.recent == 'login'"> Sign Out
                      </button>

                      <span *ngIf="element.lastActivity.recent == 'logout'" class="closed">
                        <button mat-stroked-button color="primary" (click)="openSignInVisitor(row)"
                          style="border-color:#1561CF ;width: 84px;" class="signBtn"> Sign In
                        </button>
                      </span>
                    </td>

                  </ng-container>

                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="9999">
                      No data found
                    </td>
                  </tr>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns3"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns3;" (clicK)="onGetId(row.id)">
                  </tr>
                </table>
              </div>
            </div>

            <mat-paginator #paginatorRemembered [pageSize]="5" [pageSizeOptions]="[2, 5, 10, 25, 100]">
            </mat-paginator>
          </div>
        </div>
      </div>


    </mat-card>
  </div>

</div>
