<div class="content">
  <div class="container">
    <div class=" plans text-center">
      <h1><span>Terms and </span> <span class="policy">Conditions</span></h1>
      <div>
        <strong class="d-inline-block mt-3 mb-3 Unbeatable" style="font-size: 18px;"> Privacy, cookies and the
          GDPR
          addendum. </strong>
      </div>
    </div>
  </div>
</div>

<div class="content-1">
  <div class="container">
    <div class="updates">
      <div>
        <div>Last updated at: 26 April 2022 <br>
          Version:1.0.0
        </div><br>

      </div>
    </div>
    <div class="updates-1">

      <h1>Introduction</h1>
      <p>
        Your privacy is important to us. This privacy policy explains what personal data Breazie collects from you
        through our services and how we use that data. We are committed to protecting your privacy online. We appreciate
        that you do not want the personal information you provide to us distributed indiscriminately and here we explain
        how we collect information, what we do with it and what controls you have. By using the App or website, you
        consent to the collection and use of information in accordance with this privacy policy.
        <br><br>
      </p>
      <h1>Changes to this policy</h1>
      <p>This policy is subject to change. The same will be updated by uploading a revised policy onto our website (<a
          href="/" rel=" noopener" target="_blank">https://breazie.com</a>) (the <strong>website</strong>). Unless
        stated
        otherwise, the change will apply from the date the revised policy is uploaded.<br><br></p>
      <h1>What personal information do we collect</h1>
      <p>We collect, hold and process two categories of personal information</p>
      <p><strong>Account and Marketing Data </strong>is personal information that we collect about you:</p>
      <p>
        in connection with the creation or administration of a customer account
        <br>
        if you ask to receive information about us or our services and products or sign up for our newsletter
        <br>
        when you contact us directly (e.g. telephone call, email or through the user dashboard) or visit our
        website.
        <br>
      </p>
      <p>The Account and Marketing Data we collect may include company/personal names, usernames, phone numbers,
        email addresses, your location, billing information, information about how you use our website or the
        Services (for example, traffic volumes, time spent on pages), your IP address and/or other device
        identifying data, and other information required to provide a service or information you have requested
        from us.</p>
      <p><strong>Visitor or Employee Data </strong>is personal information about a customer’s visitors or
        employees that is input into the Breazie Service (as defined in the Breazie Terms of Service). Visitor and
        Employee Data
        may include visitors’ and employees’ names, phone numbers, email addresses, locations and photos, times
        of visit, visitors’ employers’ names, the signed visitor agreement, and any other information that a
        customer decides to capture about its visitors and employees.</p>
      <p>We will not disclose, move, access, process or use Visitor or Employee Data except as provided in our Terms of
        Service (including, if applicable, the
        Breazie Data Processing Addendum) and we require our
        customers to comply with applicable privacy and data protection laws. <br><br>
      </p>
      <h1>Security</h1>
      <p>
        We are committed to ensuring that your information is secure. In order to prevent unauthorised access or
        disclosure, we have put in place suitable physical, electronic and managerial procedures to safeguard and secure
        the information we collect.
      </p>
      <p><strong>The remainder of this privacy policy sets out how we will collect, use, disclose and protect
          Account and Marketing Data and does not apply to Visitor or Employee Data.<br><br></strong></p>
      <p>Who do we collect your personal information from</p>
      <p>We collect personal information about you from: </p>
      <p>
        - you, when you provide that personal information to us, including via our website and the Service,
        through any registration process, through any contact with us (e.g. telephone call, email or through the
        user dashboard)
        <br>
        - third parties where you have authorised this or the information is publicly available.
      </p>
      <p>If possible, we will collect personal information from you directly.</p>
      <p>When you visit or use our website or the Service, we may collect information about you:</p>
      <p>

        - by recording
        <i>clickstream data</i>
        , which is non-personal information that is recorded when you click anywhere in a webpage or the Service
        and is used for the purposes of collecting, analysing and reporting data about how you use our website
        and the Service; and
        <br>
        - through the use of cookies, pixel tags (also known as web beacons or clear gifs) and similar storage
        technologies.Please refer to our Cookie Policy for further information, including information on how you can
        disable these technologies.
      </p>
      <p>Some provision of personal information is optional. However, if you do not provide us with certain types
        of personal information, you may be unable to enjoy the full functionality of our website or the
        Services.</p>
      <p>We may also conduct user surveys to collect information about your preferences. These surveys are
        optional and if you choose to respond, your responses will be kept anonymous. Similarly, we may offer
        contests to qualifying users in which we ask for contact and demographic information such as name, email
        address and mailing address. None of this information is shared with third parties, except in summary
        form, if at all. Information we gather through a contest may also be disclosed to third parties as
        necessary for prize fulfilment and other aspects of any contest or similar offering.<br><br></p>
      <h1>How we use your personal information</h1>
      <p>We will use your personal information:</p>
      <p>

        to verify your identity
        <br>
        to provide services and products to you
        <br>
        to market our services and products to you, including contacting you electronically (e.g. by text or
        email for this purpose)
        <br>
        to tailor content or advertisements to you;
        <br>
        to improve the services and products that we provide to you
        <br>
        to bill you and to collect money that you owe us, including authorising and processing credit card
        transactions
        <br>
        to respond to communications from you, including a complaint
        <br>
        to conduct research and statistical analysis (on an anonymised basis)
        <br>
        to protect and/or enforce our legal rights and interests, including defending any claim
        <br>
        for any other purpose authorised by you, the Privacy Act or other applicable law.
      </p>
      <br>
      <br>
      <h1>Disclosing your personal information</h1>
      <p>
        We may disclose your personal information to:
      </p>
      <p>

        any other company within our group for the purposes described in this policy
        <br>
        any business that supports our services and products, including any person that hosts or maintains any
        underlying IT system or data centre that we use to provide the website or other services and products or
        that assists us with our marketing and customer care activities described in this policy
        <br>
        other third parties (for anonymised statistical information)
        <br>
        a person who can require us to supply your personal information (e.g. a regulatory authority)
        <br>
        any other person authorised by the Act or another law (e.g. a law enforcement agency)
        <br>
        any other person authorised by you
        <br>
        any other company in the case of a sale, merger, consolidation, liquidation, reorganisation or
        acquisition.
      </p>
      <p>A business that supports our services and products may be located outside India. This may mean your
        personal information is held and processed outside India.</p>
      <p>We also share information about your use of our website with our trusted social media, advertising and
        analytics partners through the use of cookies, pixel tags and similar storage technologies.Please refer to our
        cookie Policy for further information.

        <br><br>
      </p>
      <h1>Protecting your personal information</h1>
      <p>We will take reasonable steps to keep your personal information safe from loss, unauthorised activity, or
        other misuse.<br><br></p>
      <h1>Accessing and correcting your personal information</h1>
      <p>Subject to certain grounds for refusal set out in the Personal Data Protection Act or other applicable laws,
        you have the right to access your readily retrievable personal information that we hold and to request a
        correction to your personal information. Before you exercise this right, we will need evidence to confirm that
        you are the individual to whom the personal information relates.</p>
      <p>In respect of a request for correction, if we think the correction is reasonable and we are reasonably able to
        change the personal information, we will make the correction. If we do not make the correction, we will take
        reasonable steps to note on the personal information that you requested the correction.</p>
      <p>If you want to exercise either of the above rights, email us at <a
          href="mailto:info.breazie@gmail.com">info.breazie@gmail.com</a>
      </p>
      <p>
        Your email should provide evidence of who you are and set out the details of your request (e.g. the personal
        information, or the correction, that you are requesting).<br><br>
      </p>
      <h1>Internet use</h1>
      <p>While we take reasonable steps to maintain secure internet connections, if you provide us with personal
        information over the internet, the provision of that information is at your own risk.</p>
      <p>If you follow a link on our website or in the Service to another site, the owner of that site will have
        its own privacy policy relating to your personal information. We suggest you review that site’s privacy
        policy before you provide personal information.<br><br></p>
      <h1>Contact us</h1>
      <p>If you have any questions about this privacy policy or our privacy practices, you can contact us at <a
          href="mailto:info.breazie@gmail.com">info.breazie@gmail.com</a></p>
      <h1 style="font-size: 40px; line-height: 45px; margin-top: 40px;"> Breazie privacy policy - GDPR addendum
      </h1>
      <p>If you are based in the European Union (<strong>EU</strong>) and use our website and/or our services, these
        additional terms (<strong>GDPR Addendum</strong>)form part of our privacy policy.</p>
      <p>The General Data Protection Regulation (<strong>GDPR</strong>)regulates the collection, processing and transfer
        of EU individuals’ personal data (as defined in the GDPR). The personal information described in our privacy
        policy is personal data under the GDPR. We are committed to complying with the GDPR when dealing with Account
        and Marketing Data (as defined in the privacy policy) about our website visitors and service users based in the
        EU.</p>
      <p>For the purposes of the GDPR:</p>
      <p>

        - we are the data controller (as defined in the GDPR) when processing Account and Marketing Data; and
        <br>
        - our customers are the data controller when processing Visitor and Employee Data (as defined in the
        privacy policy).We are the data processor in this case. We will not process Visitor or Employee Data except as
        provided in our Terms of Service (including, if applicable, the Brezie Data Processing Addendum) and we require
        our customers to comply with applicable privacy and data protection laws.
      </p>
      <p><strong>The remainder of this GDPR Addendum applies to Account and Marketing Data only, and does not
          apply to Visitor or Employee Data.</strong></p>
      <p>This GDPR Addendum was drafted with brevity and clarity in mind. It does not provide exhaustive detail of
        all aspects of our collection and use of personal data. However, we are happy to provide any additional
        information or explanation needed.Any requests for further information should be sent to <a
          href="mailto:info.breazie@gmail.com">info.breazie@gmail.com</a><br><br></p>
      <h1>Processing personal data</h1>
      <p>The Account and Marketing Data we may process is described in our privacy policy. This Account and
        Marketing Data may be processed for the purposes outlined in our privacy policy.</p>
      <p>The legal basis for our processing of Account and Marketing Data is your consent and, for certain Account
        and Marketing Data, processing is necessary for the performance of a contract to which you are a party.
      </p>
      <p>Despite the above, we may process any of your personal data where such processing is necessary for
        compliance with applicable laws.</p>
      <p>You do not have to provide us with your name or contact information to access and use the website.
        However, you must provide us with your name and contact information when using the Service and some of
        our other services. The consequence of not providing your name and contact information is that we will
        not be able to provide all of our services to you.<br><br></p>
      <h1>Your Rights</h1>
      <p>Your rights in relation to your personal data under the GDPR include:</p>
      <p>
        <strong>right of access</strong>
        - if you ask us, we will confirm whether we are processing your personal data and provide you with a
        copy of that personal data.
        <br>
        <strong>right to rectification</strong>
        - if the personal data we hold about you is inaccurate or incomplete, you have the right to have it
        rectified or completed. We will take every reasonable step to ensure personal data which is inaccurate
        is rectified. If we have shared your personal data with any third parties, we will tell them about the
        rectification where possible.
        <br>
        <strong>right to be forgotten</strong>
        - we delete your personal data when it is no longer needed for the purposes for which you provided it. You may
        request that we delete your personal data and we will do so if deletion does not contravene any applicable laws.
        If we have shared your personal data with any third parties, we will take reasonable steps to inform those third
        parties to delete such personal data.
        <br>
        <strong>right to withdraw consent</strong>
        - if the basis of our processing of your personal data is consent, you can withdraw that consent at any
        time.
        <br>
        <strong>right to restrict processing</strong>
        - you may request that we restrict or block the processing of your personal data in certain
        circumstances. If we have shared your personal data with third parties, we will tell them about this
        request where possible.
        <br>
        <strong>right to object to processing</strong>
        - you may request that we stop processing your personal data at any time and we will do so to the extent
        required by the GDPR.
        <br>
        <strong>right to data portability</strong>
        - you may obtain your personal data from us that you have consented to give us or that is necessary to
        perform a contract with you. We will provide this personal data in a commonly used, machine-readable and
        interoperable format to enable data portability to another data controller. Where technically feasible,
        and at your request, we will transmit your personal data directly to another data controller.
        <br>
        <strong>the right to complain to a supervisory authority</strong>
        - you can report any concerns you have about our privacy practices to the relevant data protection
        supervisory authority.
      </p>
      <p>Where personal data is processed for the purposes of direct marketing, you have the right to object to
        such processing, including profiling related to direct marketing.</p>
      <p>If you would like to exercise any of your above rights, please contact us at <a
          href="mailto:info.breazie@gmail.com">info.breazie@gmail.com</a><br><br></p>
      <h1>Children</h1>
      <p>We do not intend to collect personal data from children aged under 16. If you have reason to believe that
        a child under the age of 16 has provided personal data to us through our website and/or by using our
        services, please contact us at <a href="mailto:info.breazie@gmail.com">info.breazie@gmail.com</a><br><br>
      </p>
      <h1>Cookies</h1>
      <p>We use cookies, pixel tags (also known as web beacons or clear gifs) and similar storage technologies. Please
        refer to our Cookie Policy for further information, including information on how you can disable these
        technologies. <br><br>
      </p>
      <h1>International transfer of data</h1>
      <p>
        The Account and Marketing Data may be transferred to, and stored in, a country operating outside the European
        Economic Area (<strong>EEA</strong>). Under the GDPR, the transfer of personal data to a country outside the EEA
        may take place
        where the European Commission has decided that the country ensures an adequate level of protection. In the
        absence of an adequacy decision, we may transfer personal data provided appropriate safeguards are in place.
      </p>
      <p>
        Some of the Account and Marketing Data we collect is processed by third party data processors in other
        countries, including the United States. These countries are not subject to an adequacy decision by the European
        Commission and instead, in transferring your personal data to these countries, we take other appropriate
        safeguards as prescribed by the GDPR. We have verified that our data processors in the United States have
        self-certified under the EU-US Privacy Shield framework. <br><br>
      </p>

      <h1>Data retention policy</h1>
      <p>Account and Marketing Data that we collect and process will not be kept longer than necessary for the
        purposes for which it is collected, or for the duration required for compliance with applicable law,
        whichever is longer.<br><br></p>
      <h1>How we use cookies</h1>
      <p>
        A cookie is a small file which asks permission to be placed on your computer’s hard drive. Once you agree, the
        file is added and the cookie helps analyse web traffic or lets you know when you visit a particular site.
        Cookies allow web applications to respond to you as an individual. The web application can tailor its operations
        to your needs, likes and dislikes by gathering and remembering information about your preferences.
      </p>
      <p>
        We use website traffic to identify the relevance of pages and content. We analyse this statistical information
        to help us to improve our site with the experience and validation of its use, with the purpose to adapt it to
        our users needs. We only use this information for statistical analysis purposes and the data is collected and
        used anonymously.
      </p>
      <p>
        Overall, cookies help us provide you with a better website by enabling us to monitor which pages you find useful
        and which you do not. A cookie in no way gives us access to your computer or any information about you, other
        than the data you choose to share with us.
      </p>
      <p>
        You can choose to accept or decline cookies. Most web browsers automatically accept cookies, but you can usually
        modify your browser setting to decline cookies, or delete them if you prefer. This may prevent you from taking
        full advantage of the website.
      </p>
    </div>
  </div>
</div>
