<div class="content">
  <div class="wave blue">
    <div class="curve"></div>
    <div class="employeeCheckin laptop w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 col-lg-7">
            <div class="blankcard"></div>
          </div>
          <div class="col-md-6 col-lg-5">
            <div class="employee-check">
              <h1>Employee check in</h1>
              <p>The app will help the employees to feed in their in and out time in the office premises. That will help
                the organization to keep a check on the timings and attendance of the employees.</p>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="employeeCheckin mobile w-100">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 col-sm-6 col-md-6 col-lg-7">
            <img src="../../assets/images/reception.png">
          </div>
          <div class="brownBorder"></div>
          <div class="col-6 col-sm-6 col-md-6 col-lg-5">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="wave red">
    <div class="employee-check mobile">
      <h1>Employee check in</h1>
      <p>The app will help the employees to feed in their in and out time in the office premises. That will help
        the organization to keep a check on the timings and attendance of the employees.</p>
    </div>

    <div class="content-third-card">
      <div class="container-fluid">
        <hr>
      </div>

      <div class="container-fluid visitormanagementcards mt-5">
        <div class="row">
          <div class="col-md-6 col-md-0 col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
            <div class="card text-center">
              <div class="text-center">
                <img src="../../assets/images/remoteworking.png">
              </div>
              <div class="card-body text-center">
                <h2>Remote working is made easy</h2>
                <p>The world has now become comfortable with the fact that there will be times when the employees will
                  have to work remotely and the work can still be managed in that manner. If the employees are asked to
                  use this app, they can keep the organization informed that they are working remotely. This will also
                  help the organization to know the whereabouts of their employees.</p>
              </div>
            </div>
            <div class="card  text-center">
              <div class="text-center">
                <img src="../../assets/images/records.png">
              </div>
              <div class="card-body text-center">
                <h2>Keeping a record of employee sign in</h2>
                <p>This app provides you an on site sign in, this will help you to know who is present in the premises
                  and who is not. This makes the tracking and evacuation management easy. The employees can also sign in
                  using the QR code provided.</p>
              </div>
            </div>
            <div class="card text-center">
              <div class="text-center">
                <img src="../../assets/images/mobilecheck.png">
              </div>
              <div class="card-body text-center">
                <h2>Mobile Check in</h2>
                <p>Employees will have to download the Breazie app in order to use contactless sign in. All they have to
                  do is answer a few questions related to the sign in protocol of the company. And their presence will
                  be marked.</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 col-lg-5 col-xl-4">
            <div class="card text-center">
              <div class="text-center">
                <img src="../../assets/images/roamingemployees.png">
              </div>
              <div class="card-body text-center">
                <h2>Roaming employees management</h2>
                <p>There are some employees in every office who have to travel to multiple branches of that particular
                  company in order to manage the work. With the help of Breazie you can easily track these employees as
                  well.</p>
              </div>
            </div>
            <div class="card  text-center">
              <div class="text-center">
                <img src="../../assets/images/health.png">
              </div>
              <div class="card-body text-center">
                <h2>Health and Safety measures</h2>
                <p>While signing in the app also asks questions related to employees health. This is beneficial for the
                  organization as with this information they can provide better help to that particular employee and
                  also protect other employees from catching the infections.</p>
              </div>
            </div>
            <div class="card  text-center">
              <div class="text-center">
                <img src="../../assets/images/board.png">
              </div>
              <div class="card-body text-center">
                <h2>In and Out board for employees</h2>
                <p>The employees can just use the tablet as an in and out board or can download the app in order to mark
                  their presence in the office premises.</p>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
          <div class="col-lg-5 offset-md-1 col-xl-4 offset-xl-2">

          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card card2 text-center">
              <div class="text-center">
                <img src="../../assets/images/roamingemployees.png">
              </div>
              <div class="card-body text-center">
                <h2>Roaming employees management</h2>
                <p>There are some employees in every office who have to travel to multiple branches of that particular
                  company in order to manage the work. With the help of Breazie you can easily track these employees as
                  well.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-md-1 col-xl-4 offset-xl-2">
            <div class="card card3 text-center">
              <div class="text-center">
                <img src="../../assets/images/records.png">
              </div>
              <div class="card-body text-center">
                <h2>Keeping a record of employee sign in</h2>
                <p>This app provides you an on site sign in, this will help you to know who is present in the premises
                  and who is not. This makes the tracking and evacuation management easy. The employees can also sign in
                  using the QR code provided.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card card3 text-center">
              <div class="text-center">
                <img src="../../assets/images/health.png">
              </div>
              <div class="card-body text-center">
                <h2>Health and Safety measures</h2>
                <p>While signing in the app also asks questions related to employees health. This is beneficial for the
                  organization as with this information they can provide better help to that particular employee and
                  also protect other employees from catching the infections.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 offset-lg-1 col-xl-4 offset-xl-2">
            <div class="card card3 text-center">
              <div class="text-center">
                <img src="../../assets/images/mobilecheck.png">
              </div>
              <div class="card-body text-center">
                <h2>Mobile Check in</h2>
                <p>Employees will have to download the Breazie app in order to use contactless sign in. All they have to
                  do is answer a few questions related to the sign in protocol of the company. And their presence will
                  be marked.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-xl-4">
            <div class="card card3 text-center">
              <div class="text-center">
                <img src="../../assets/images/board.png">
              </div>
              <div class="card-body text-center">
                <h2>In and Out board for employees</h2>
                <p>The employees can just use the tablet as an in and out board or can download the app in order to mark
                  their presence in the office premises.</p>
              </div>
            </div>
          </div>

        </div> -->
      </div>

    </div>
  </div>
</div>
