<div class="content">
  <div class="wave blue">
    <div class="productfeature">
      <div class="container-fluid">
        <div class="row">
          <div class="col-10 col-sm-7 col-md-5 col-lg-5 col-xl-5">
            <div class="p-3 zeroContact largescreen">
              <h1>Zero Contact Sign in</h1>
              <p class="laptop">Whenever any visitors enter the office, all they have to do is take their phone, open
                the camera, scan
                the QR and a form will pop up asking for the information that is required by the organization. The
                content
                of the form can differ from organization to organization as it is customisable.</p>
            </div>
          </div>
          <div class="col-2 col-sm-5 col-md-7 col-lg-7 col-xl-7">
            <div class="mobileimg">
              <img src="../../assets/images/mobile.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="curve"></div>
  </div>
  <div class="wave red">
    <div class="zeroContactSignin mobile">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 col-md-9 col-lg-7 col-xl-5">
            <div class="zeroContacts">
              <div class="p-1 smallscreen">
                <h1>Zero Contact Sign in</h1>
                <p class="laptop">Whenever any visitors enter the office, all they have to do is take their phone, open
                  the camera, scan
                  the QR and a form will pop up asking for the information that is required by the organization. The
                  content
                  of the form can differ from organization to organization as it is customisable.</p>
              </div>
              <p>Whenever any visitors enter the office, all they have to do is take their phone, open the camera, scan
                the QR and a form will pop up asking for the information that is required by the organization. The
                content
                of the form can differ from organization to organization as it is customisable.</p>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="content-three-card">
      <div class="container-fluid featurescards">
        <div class="row">
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card mb-4">
              <div class="row mt-3">
                <div class="col-2 col-sm-1 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/zerocontact.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>Screening Visitor and Employee -</strong>
                </div>
              </div>
              <div class="card-body text-center">
                <p>The visitors will be asked to fill a few questions on the app, which will give us data about
                  their current health condition. This will help the organization to protect the workplace from any
                  infectious diseases.</p>
              </div>
            </div>

            <div class="card mb-4">
              <div class="row mt-3">
                <div class="col-2 col-sm-1 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/screeningvisitor.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>Evacuation Management -</strong>
                </div>
              </div>
              <div class="card-body text-center ">
                <p>This app comes to help, when you need to have a roll call on urgent basis and you do not have
                  time to print the data first and then follow the process. You can just pick up the ipad and check
                  , it will give you the entire data of employees present.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card mb-4">
              <div class="row mt-3">
                <div class="col-2 col-sm-1 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/employeedata.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>Digital Agreement -</strong>
                </div>
              </div>
              <div class="card-body text-center">
                <p>Breazie helps the visitors to feed in their information that is required by the organization. This
                  also helps the organization to create a database of people without any paperwork involved.</p>
              </div>
            </div>
            <div class="card  mb-4">
              <div class="row mt-3">
                <div class="col-2 col-sm-1 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/digital.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>Instant Notifications -</strong>
                </div>
              </div>
              <div class="card-body text-center">
                <p>This feature will give you an update that your visitor has arrived by sending you a message
                  stating the name and the details of the visitor that is waiting for you.
                </p>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-4 col-lg-4">
            <div class="card  mb-4">
              <div class="row mt-3">
                <div class="col-2 col-sm-1 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/screeningvisitor.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>ID badge printing -</strong>
                </div>
              </div>
              <div class="card-body text-center">
                <p>Giving an official access to the visitors is very important not just for security purposes but also
                  because this helps the visitors feel welcomed. As soon as the visitor will feed in their details an ID
                  will automatically be generated that can be printed and handed over to the visitor. This will be an
                  access card for him/her.</p>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
                <div class="card mb-2">
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                      <span>
                        <img src="../../assets/images/zerocontact.png">
                      </span>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9">
                      <strong>Screening Visitor and Employee -</strong>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <p>The visitors will be asked to fill a few questions on the app, which will give us data about
                      their current health condition. This will help the organization to protect the workplace from any
                      infectious diseases.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6  col-lg-6 col-xl-4 offset-xl-1">
                <div class="card mb-2">
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                      <span>
                        <img src="../../assets/images/employeedata.png">
                      </span>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9">
                      <strong>Digital Agreement -</strong>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <p>Breazie helps the visitors to feed in their information that is required by the organization. This
                      also helps the organization to create a database of people without any paperwork involved.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
                <div class="card  mb-2">
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                      <span>
                        <img src="../../assets/images/screeningvisitor.png">
                      </span>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9">
                      <strong>Evacuation Management -</strong>
                    </div>
                  </div>
                  <div class="card-body text-center ">
                    <p>This app comes to help, when you need to have a roll call on urgent basis and you do not have
                      time to print the data first and then follow the process. You can just pick up the ipad and check
                      , it will give you the entire data of employees present.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-6 col-xl-4 offset-xl-1">
                <div class="card  mb-2">
                  <div class="row">
                    <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                      <span>
                        <img src="../../assets/images/digital.png">
                      </span>
                    </div>
                    <div class="col-9 col-sm-9 col-md-9">
                      <strong>Instant Notifications -</strong>
                    </div>
                  </div>
                  <div class="card-body text-center">
                    <p>This feature will give you an update that your visitor has arrived by sending you a message
                      stating the name and the details of the visitor that is waiting for you.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4 col-lg-4 col-xl-3 col-xl-1">
            <div class="card  mb-2">
              <div class="row">
                <div class="col-3 col-sm-3 col-md-3 col-lg-2">
                  <span>
                    <img src="../../assets/images/screeningvisitor.png">
                  </span>
                </div>
                <div class="col-9 col-sm-9 col-md-9">
                  <strong>ID badge printing -</strong>
                </div>
              </div>
              <div class="card-body text-center">
                <p>Giving an official access to the visitors is very important not just for security purposes but also
                  because this helps the visitors feel welcomed. As soon as the visitor will feed in their details an ID
                  will automatically be generated that can be printed and handed over to the visitor. This will be an
                  access card for him/her.</p>
              </div>
            </div>
          </div>
        </div> -->
      </div>
    </div>
  </div>
</div>
