

.signinname{
    margin-left: 21px;
}
.wanttocontinue{
    margin-top: 10px;
}
/* :host::ng-deep.mat-dialog-container {
    padding: 55px !important;
} */
:host::ng-deep .mat-dialog-content {
    padding: 15px 45px;
    height: auto;
    max-height: 100%;
    overflow: hidden;
}

.signinheadding{
    margin-left: 10px;
}
.cancel{
    /* border-radius: 6px; */
    background-color: #E4E4E4;
    border: 1px solid black;
    color: black;
    opacity: 1 !important;
}
.signin{
    margin-top: 10px;
    color: white;
    border: 1px solid #004AB6;
    background-color: #1561CF;

}
:host::ng-deep.mat-dialog-actions {
    display: inline-block  !important;
    width: 100%;
}