mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.fas,
.far,
.fa {
  font-size: 1.2rem;
}
ul li {
  margin-left: 12px;
}
li i:hover {
  color: #1561cf;
}
.profile-img{
  border-radius: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid gray;
  margin-top: 9px;
}
