<div class="content">
  <div class="container">
    <div class="plans text-center">
      <h1><span>plans</span> & <span>pricing</span></h1>
      <div>
        <strong class="d-inline-block mt-3 mb-3 Unbeatable" style="font-size: 18px;"> Unbeatable value. Plain and
          simple. </strong>
        <p style="font-weight:500; font-size: 16px;">All plans include touch free sign in, visitor screening tools, easy contact tracing
          and zero setup costs.</p>
      </div>
    </div>
    <div class="cards">
      <div class="row">
        <div class="col-sm-6 col-md-6 col-lg-4 ">
          <div class="card">
            <div class="orangeline"></div>
            <div class="card-body">
              <strong style="font-size: 1.5rem;letter-spacing: 2px;">Starter</strong><br>
              <small style="color: black;opacity: 0.5;">The Easiest Way To Modernize Your Front Desk For
                Visitors.</small>
              <div class="mt-2">
                <h1><strong>$24</strong><sub style="font-weight: 500;">/month</sub></h1>
                <ul>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Single
                    location</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>1 Ipad / QR
                    Code</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>25 employees
                  </li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Contactless
                    Sign In</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Vaccination
                    Proof Upload</li>
                  <li style="color: #279ED9;"><span class="mr-2"><i class="fa fa-plus"
                        aria-hidden="true"></i></span>Addons Available</li>
                </ul>
                <div class="text-center">
                  <a href="https://secure.breazie.com/auth/register" target="blank" class="text-light"> <button
                      class="freeTrial btn btn-block starterButton">Start Free
                      trial</button></a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-4">
          <div class="card">
            <div class="orangeline" style="background-color:#9B51E0;"></div>
            <div class="card-body">
              <strong style="font-size: 1.5rem;letter-spacing: 2px;">Business</strong><br>
              <small style="color: black;opacity: 0.5;">Enhance Safety, Security And Compliance For Everyone In Your
                Workplace.</small>
              <div class="mt-2">
                <h1><strong>$49</strong><sub style="font-weight: 500;">/month</sub></h1>
                <ul>
                  <li><span class="mr-2"><i class="fa fa-check text-success"
                        aria-hidden="true"></i></span>Multi-Location Dashboard</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Multiple
                    Ipads / QR Codes</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Unlimited
                    Employees</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Contactless
                    Sign In</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Vaccination
                    Proof Upload</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Employee
                    Screening</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Remote
                    Working</li>
                  <li style="color: #279ED9;"><span class="mr-2"><i class="fa fa-plus"
                        aria-hidden="true"></i></span>Addons Available</li>
                </ul>
                <div class="text-center">
                  <a href="https://secure.breazie.com/auth/register" target="blank" class="text-light"> <button
                      class="freeTrial btn btn-block businessButton"
                      style="background-color:#9B51E0;border:1px solid #8646C1">Start Free
                      trial</button></a>
                </div>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-12 col-md-8  offset-md-2 col-lg-4  offset-lg-0">
          <div class="card">
            <div class="orangeline" style="background-color: #00B894;"></div>
            <div class="card-body">
              <strong style="font-size: 1.5rem;letter-spacing: 2px;">Enterprise</strong><br>
              <small style="color: black;opacity: 0.5;">Streamline Processes For A Fully Customized And More Connected
                Workplace.</small>
              <div class="mt-2">
                <h1><strong>$97</strong><sub style="font-weight: 500;">/month</sub></h1>
                <ul>
                  <li><span class="mr-2"><i class="fa fa-check text-success"
                        aria-hidden="true"></i></span>Multi-Location Dashboard</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Multiple
                    Ipads / QR Codes</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Unlimited
                    Employees</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Contactless
                    Sign In</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Vaccination
                    Proof Upload</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Employee
                    Screening</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Remote
                    Working</li>
                  <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Multiple
                    Visitor Flows</li>
                  <!-- <li><span class="mr-2"><i class="fa fa-check text-success" aria-hidden="true"></i></span>Integrations
                  </li> -->
                  <li style="color: #279ED9;"><span class="mr-2"><i class="fa fa-plus"
                        aria-hidden="true"></i></span>Addons Available</li>
                </ul>
                <div class="text-center">
                  <a href="https://secure.breazie.com/auth/register" target="blank" class="text-light"> <button
                      class="freeTrial btn btn-block" style="background-color: #00B894;border: 1px solid #009F80;">Start
                      Free
                      trial</button></a>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
  <div class="hr">
    <hr class="mb-3">
  </div>
  <div class="container-fluid">
    <div class="text-center">
      <h1 class="compareplans">Compare Plans</h1>
    </div>
    <div class="table">
      <div class="table-responsive-md">
        <table class="table w-100">
          <thead>
            <tr>
              <th style="width:50%">Overview</th>
              <th class="text-center">Starter</th>
              <th class="text-center">Business</th>
              <th class="text-center">Enterprise</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="width:40%">Number of connected iPads or QR codes</td>
              <td class="text-center">One</td>
              <td class="text-center">Multiple</td>
              <td class="text-center">Multiple</td>
            </tr>
            <tr>
              <td style="width:40%">Number of employees</td>
              <td class="text-center">Up to 25</td>
              <td class="text-center">Unlimited</td>
              <td class="text-center">Unlimited</td>
            </tr>
            <tr>
              <td style="width:40%">Number of recorded visits</td>
              <td class="text-center">Unlimited</td>
              <td class="text-center">Unlimited</td>
              <td class="text-center">Unlimited</td>
            </tr>
            <tr>
              <td style="width:40%">Contactless sign in for visitors and employees</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Contact tracing tools from admin dashboard</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Request documentation such as proof of vaccination</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Choose where your data is hosted - US, CA, UK, EU, AU or SG</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Employee health screening checks during sign in</td>
              <td class="text-center">--</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Remote working sign in for staff</td>
              <td class="text-center">--</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Connect multiple locations to one account</td>
              <td class="text-center">--</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <tr>
              <td style="width:40%">Create different sign in flows by visitor type</td>
              <td class="text-center">--</td>
              <td class="text-center">--</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr>
            <!-- <tr>
              <td style="width:40%">Access to all integrations</td>
              <td class="text-center">--</td>
              <td class="text-center">--</td>
              <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
            </tr> -->
          </tbody>

        </table>
        <hr>
        <div class="text-center" *ngIf="!visitormanagementtable">
          <button class="btn" (click)="visitorManagement()" style="outline: none;"><strong
              class="d-inline-block mt-1">Compare all features <span class="ml-3"><i class="fa fa-angle-down"
                  aria-hidden="true"></i></span></strong></button>
        </div>
        <div class="table2" *ngIf="visitormanagementtable">
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Visitor management</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Easy sign in for unlimited visitors</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Contactless sign in by secure QR code</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Set up different visitor categories</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Contactless sign in for visitors and employees</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Create custom questionnaire to screen visitors</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Request specific documents to be uploaded for approval</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Receive instant visitor arrival notifications</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">See real-time visitor log and movement activity</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Sign visitors in/out manually from the admin dashboard</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Remember details of returning visitors</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Pre-register your expected visitors</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Allow fast visitor sign out by ID badge scanning</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Automatically sign out visitors at a chosen time</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Capture visitor photos during sign in</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Instantly print visitor ID badges</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Admins can approve or decline visitor entry</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Set up assistant notifications for executives</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Create different sign in questions for various visitor categories</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Employee management</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Manage employee sign in to the workplace</td>
                <td class="text-center">Up to 25</td>
                <td class="text-center">Unlimited</td>
                <td class="text-center">Unlimited</td>
              </tr>
              <tr>
                <td style="width:40%">Breazie Pocket smartphone app for contactless employee sign in</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Request proof of vaccination documents to be uploaded for approval</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Automatically sign out employees at a chosen time</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Upload employee records by CSV</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Take employee photos on sign-in/out for identity verification</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Set custom sign out messages & return times</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Proximity check for verified location sign in</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Contactless check in by location-specific QR code</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Create employee health check questionnaire</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Allow employees to sign in to work remotely</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Set rules to approve or deny entry</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Allow employees to move between locations</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <!-- <tr>
                <td style="width:40%">Employee directory integrations</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr> -->
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Safety, Security & Compliance</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Have visitors sign agreements or documents during sign in</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Run contact tracing reports</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Emergency roll-call view for evacuations</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Supports offline sign in</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Select from different badge designs to suit your needs</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Sort, filter and export visitor and employee data</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Capture digital signatures on visitor agreements/NDAs</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Location management</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Create a team of administrators</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Ability to assign location managers</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Have an iPad at multiple entry points</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Add multiple printers per location at no additional charge</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Manage multiple office locations from one dashboard</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Apply location specific settings</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Organize locations by groups</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Generate location-specific reports</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Data Privacy</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Secure cloud storage</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Ability to manually anonymize visitor and employee data</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Ability to automatically anonymize visitor data</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Regulatory compliance tools/assistance (GDPR, ITAR, etc)</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Automatically email signed copy of agreement to the visitor</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Automatically store signed documents in SwipedOn</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">View and download signed documents from admin dashboard</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"> <i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Customization of iPad device</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">Display your company logo, branding and colours</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Set the iPad to display in one of several languages</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Customize welcome screen buttons</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Add your own full screen rotating screensavers</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%">Breazie Support</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td style="width:40%">24-hour live chat support, 5 days a week</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Online knowledge center with help articles</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Pay subscription by credit card</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Access to priority customer support</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Get assigned a dedicated account manager</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Reviews of edits to Terms of Service</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Fulfill a request for proposal (RFP)</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Bespoke onboarding and implementation plan</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Pay by invoice, wire or ACH (processing fees apply)</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Review company specific security questionnaires</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
            </tbody>
          </table>
          <hr>
          <table class="table w-100">
            <thead>
              <tr>
                <th style="width:50%"> AddOns</th>
                <th class="text-center">Starter</th>
                <th class="text-center">Business</th>
                <th class="text-center">Enterprise</th>
              </tr>
            </thead>
            <tbody>
              <!-- <tr>
                <td style="width:40%">Microsoft Active Directory</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr>
              <tr>
                <td style="width:40%">Azure Active Directory</td>
                <td class="text-center">--</td>
                <td class="text-center">--</td>
                <td class="text-center"><i class="fa fa-check text-success" aria-hidden="true"></i></td>
              </tr> -->
              <tr>
                <td style="width:40%">Manage your flexible work space with desk booking</td>
                <td class="text-center">Optional</td>
                <td class="text-center">Optional</td>
                <td class="text-center">Optional</td>
              </tr>
              <tr>
                <td style="width:40%">Offer your guests catering during sign in</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
              </tr>
              <tr>
                <td style="width:40%">Contactless deliveries and courier scan</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
              </tr>
              <!-- <tr>
                <td style="width:40%">Unlimited SMS notifications</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
                <td class="text-center">AddOn</td>
              </tr> -->
            </tbody>
          </table>
          <hr>
          <div class="text-center">
            <button class="btn" (click)="hidetable()" style="outline: none;"><strong class="d-inline-block mt-1">Hide
                features<span class="ml-3"><i class="fa fa-angle-up" aria-hidden="true"></i></span></strong></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
