<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digitoonz</title>
</head>


<body style="background-color: rgb(235, 232, 227);font-family: Arial, Helvetica, sans-serif;">

    <div style="margin: auto; width: 80%;display: -webkit-flex;display: flex;-ms-flex-align: center;-webkit-align-items: center;-webkit-box-align: center; align-items: center; display:block">
        <div style=" margin-top: 70px; margin-bottom: 60px; text-align: center; box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),0 0  0 2px rgb(255,255,255),0.3em 0.3em 1em rgba(0,0,0,0.3); background-color: whitesmoke; border: 2px solid rgb(248, 248, 248);">
            <!-- <img src="./Mask Group 1.png" style="width: 200px; height: 50px;" alt=""> -->
            <img src="https://i.gifer.com/4ewS.gif" style="width: 180px; height: 150px;" alt="">

            <br>
            <br>
            <h3 style="text-align: center;"> <span><b> Hello</b> Staff</span></h3>

            <h3 style="text-align:center;"><b>New order received from Visitors</b></h3>
            <!-- <h3 style="text-align:center; color: rgb(32, 32, 122); ">item1</h3>
            <h3 style="text-align:center;  color: rgb(32, 32, 122);">item2</h3> -->
            <!-- <h3 style="text-align:center; color: rgb(32, 32, 122); ">item3</h3> -->
            <!-- <table style="border: 1px solid black;text-align: center;">
                <tr> <th>Category = Timings</th> </tr>
                <tr> <td>item1</td> </tr>
                <tr> <td>item2</td> </tr>
                <tr> <td>item3</td> </tr>
            </table> -->
            <br>

            <!-- <p class="mb-0" style="text-align: center; margin-bottom: 0px">Visitor: <b>Visitors</b> </p>
            <p class="mb-0" style="text-align: center;margin: 0px; ">Arrived at time:<b>Time</b></p>
            <p style="text-align: center; margin:0px;margin: 4px">Visiting host : <b>Visitinghost</b> </p> -->
            <p style="text-align: center;margin: 0px; padding-top: 5px;"><b>visitorData</b> </p>
            <hr>
            <span><i class="fas fa-mug"></i></span>
            <h3 style="text-align: center;margin: 0px;margin-top: 1%;">Order</h3>
            <p style="text-align: center; margin-bottom: 0px;margin-top: 3px"><b>BeverageNames</b></p>
            <!-- <p style="text-align: center; margin-bottom: 0px;margin-top: 2px">BeverageNames</p>
            <p style="text-align: center;margin: 0px; padding-top: 5px;"><b>Food</b> </p>
            <p style="text-align: center;margin: 0px; padding: 2px;">Foods</p>
            <p style="text-align: center;margin: 0px; margin: 4px"><b>Duration</b>:DurationTime</p> -->
            <!-- <br>
            <br> -->
            <hr>


            <p style="text-align:center; margin-top: 2%;;margin-bottom:0px;">Thanks</p>
            <p style="text-align:center; margin: 4px;margin-bottom:0px;">Head Office</p>

            <img src="https://breezie-prod-files.s3.ap-south-1.amazonaws.com/images/employee/Mask+Group+1%402x.png" style="width: 240px; height: 60px;" alt="">
            <a href="mailto: info.breazie@gmail.com" style="margin-top: 40px;display: block;">info.breazie@gmail.com</a>
            <p style="text-align: center;">Phone No. 9958799166</p>
            <p style="text-align: center;">Powered By <b style="color: grey ;font: size 20px;">Breazie</b></p>
        </div>
    </div>
</body>

</html>